.TimelineNav-Galerie-day{
    text-align: center;
    font-family: cursive;
    position: relative;
    height: 100%;
    margin-top: 3%;
    
  }
  .navMenu-Galerie-day {
    --webkit-transform: translateX(-50%);
    display: flex;
    width: 90%;
    left: 80px;
    position: absolute;
    opacity: 1;
  }
  .navMenu-Galerie-day > * {
    flex: 1;
    width: 100%;
    text-decoration: none;
    transition: all 0.4s ease;
    font: 20px cursive;
    color: white;
    margin: 0%;
    padding: 0%;
  }

  a.list-link-Galerie-day {
    color: white ;
    background: blue;
    border: blue solid 2px;
    -webkit-box-shadow: 0px  -2px  33px 0px blue;
    -moz-box-shadow: 0px  -2px  33px 0px blue;
    box-shadow: 0px -2px  33px 0px blue;
    font-family: cursive;
    text-decoration: none;
    }
  .list-link-Galerie-day:hover{
    text-decoration: none;
    color: blue;
    background: white;
    border: blue solid 2px;
    -webkit-box-shadow: 0px  -2px  33px 0px blue;
    -moz-box-shadow: 0px  -2px  33px 0px blue;
    box-shadow: 0px -2px  33px 0px blue;
    font-family: cursive;
  }
      
  
    
      
      