.TimelineNav {
  text-align: center;
  font-family: cursive;
  position: relative;
  height: 100%;
  
}
.navMenu {
  --webkit-transform: translateX(-50%);
  display: flex;
  width: 90%;
  left: 80px;
  position: absolute;
  opacity: 1;
}
.navMenu > * {
  flex: 1;
  width: 100%;
  text-decoration: none;
  transition: all 0.4s ease;
  font: 20px cursive;
  color: white;
  margin: 0%;
  padding: 0%;
}
/* Colloque-scientifique */
a.list-link-Colloque-scientifique{
  animation: list-link-Colloque-scientifique 5s infinite linear;
  position:relative;
  color: white;
  flex-direction: space-around;
  background: blue;
  font-family: cursive;
  }
  @keyframes list-link-Colloque-scientifique{
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    } 
.list-link-Colloque-scientifique:hover{
  position:relative;
  color: blue;
  flex-direction: space-around;
  background: white;
  font-family: cursive;
  text-decoration: none;
  -webkit-box-shadow: 0px  -2px  33px 0px blue;
  -moz-box-shadow: 0px  -2px  33px 0px blue;
  box-shadow: 0px -2px  33px 0px blue;
  }
  /* WORKSHOP */
a.list-link-workshop{
  animation: list-link-workshop-header 6s infinite linear;
  position:relative;
  color: white;
  flex-direction: space-around;
  background: blue;
  font-family: cursive;
  } 
@keyframes list-link-workshop {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
  }
.list-link-workshop:hover {
  color: #00ff30;
  background: white;
  border: #00ff30 solid 2px;
  -webkit-box-shadow: 0px  -2px  33px 0px #00ff30;
  -moz-box-shadow: 0px  -2px  33px 0px #00ff30;
  box-shadow: 0px -2px  33px 0px #00ff30;
  font-family: cursive;
  text-decoration: none;
  }
/*THINK-TANK*/
.list-link-Think-Tank{
  animation: list-link-Think-Tank 8s infinite linear;
  position:relative;
  background: blue;
  flex-direction: space-around;
  color: white;
  font-family: cursive;
  } 
.list-link-Think-Tank:hover{
  color: #ffc200;
  background: white;
  border: #ffc200 solid 2px;
  -webkit-box-shadow: 0px  -2px  33px 0px #ffc200;
  -moz-box-shadow: 0px  -2px  33px 0px #ffc200;
  box-shadow: 0px -2px  33px 0px #ffc200;
  font-family: cursive;
  text-decoration: none;
  }
@keyframes list-link-Think-Tank {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
  }

  /*PARCOURS-SUCCES*/
  .list-link-Parcours-succes{
    animation: list-link-Parcours-succes 9s infinite linear;
    position:relative;
    background-color: blue;
    flex-direction: space-around;
    background: blue;
    font-family: cursive;
      } 
  .list-link-Parcours-succes:hover{
    color: #ceff00;
    background: white;
    border: #ceff00 solid 2px;
    -webkit-box-shadow: 0px  -2px  33px 0px #ceff00;
    -moz-box-shadow: 0px  -2px  33px 0px #ceff00;
    box-shadow: 0px -2px  33px 0px #ceff00;
    font-family: cursive;
    text-decoration: none;
    }
    @keyframes  list-link-Parcours-succes {
      0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }
  
    /*RAID-ART*/
  .list-link-Raid-Art{
    animation: list-link-Raid-Art 10s infinite linear;
    position:relative;
    color: white;
    flex-direction: space-around;
    background: blue;
    font-family: cursive;
      } 
  .list-link-Raid-Art:hover{
    color: #ff009e;
    background: white;
    border: #ff009e solid 2px;
    -webkit-box-shadow: 0px  -2px  33px 0px #ff009e;
    -moz-box-shadow: 0px  -2px  33px 0px #ff009e;
    box-shadow: 0px -2px  33px 0px #ff009e;
    font-family: cursive;
    text-decoration: none;
    }
    @keyframes list-link-Raid-Art {
      0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }
    /*Galerie*/
  .list-link-Galerie {
    animation: list-link-Galerie 11s infinite linear;
    position:relative;
    color: white;
    flex-direction: space-around;
    background: blue;
    font-family: cursive;
      }
.list-link-Galerie:hover {
  color: blue;
  background: white;
    border: blue solid 2px;
    -webkit-box-shadow: 0px  -2px  33px 0px blue;
    -moz-box-shadow: 0px  -2px  33px 0px blue;
    box-shadow: 0px -2px  33px 0px blue;
    font-family: cursive;
    text-decoration: none;
    }
      @keyframes list-link-Galerie {
        0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em;}
      }

  
    
    